@model CARSHARE_WEBAPP.ViewModels.OglasVoziloVM

<h2 class="mb-4">Create advertisement</h2>

<form method="post"> 
    <div class="form-group mb-3"> 
        <label for="Ime" class="form-label">Username:</label>
        <input type="text" class="form-control" value="@Model.Username" readonly />
    </div>
    <div class="form-group mb-3">
        <label for="Marka" class="form-label">Car brand:</label>
        <input type="text" class="form-control" value="@Model.Marka" readonly />
    </div> 

    <div class="form-group mb-3">
        <label for="Model" class="form-label">Car model:</label>
        <input type="text" class="form-control" value="@Model.Model" readonly />
    </div>

    <div class="form-group mb-3">
        <label for="Registracija" class="form-label">Registration:</label>
        <input type="text" class="form-control" value="@Model.Registracija" readonly />
    </div>

    <div class="form-group mb-3">
        <label for="DatumPocetkaRezervacije" class="form-label">Start date of reservation:</label>
        <input asp-for="DatumPocetkaRezervacije" class="form-control" type="date" />
        <span asp-validation-for="DatumPocetkaRezervacije" class="text-danger"></span>
    </div> 

    <div class="form-group mb-3">
        <label for="DatumZavrsetkaRezervacije" class="form-label">End date of reservation</label>
        <input asp-for="DatumZavrsetkaRezervacije" class="form-control" type="date" />
        <span asp-validation-for="DatumZavrsetkaRezervacije" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="VoziloId" />

    <div class="mt-3 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
