@model CARSHARE_WEBAPP.ViewModels.KorisnikVM

@{
    ViewData["Title"] = "Korisnik Details";
}

<h2>Korisnik Details</h2>

<div class="card p-4 mb-4">
    <dl class="row">
        <dt class="col-sm-3">Ime</dt>
        <dd class="col-sm-9">@Model.Ime</dd>

        <dt class="col-sm-3">Prezime</dt>
        <dd class="col-sm-9">@Model.Prezime</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>
        <a href="@Url.Action("Update", "Korisnik", new { id = Model.IDKorisnik })" class="btn btn-primary">
            Edit User Info
        </a>
       
</div>
