@using CARSHARE_WEBAPP.ViewModels
@model List<VoziloVM>

<h2>Popis vozila</h2>

<table class="table">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Registracija</th>
            <th>Slika prometne</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vozilo in Model)
        {
            <tr>
                <td>@vozilo.Marka</td>
                <td>@vozilo.Model</td>
                <td>@vozilo.Registracija</td>
                <td>
                    @if (vozilo.ImagePrometna?.Base64Content != null)
                    {
                       
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

